{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 10
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
