:root {
  --fontSizeUnit: 1rem;
  --fontSizeRatio: 0.75;
  --fontSize: calc(var(--fontSizeUnit) * var(--fontSizeRatio));
  --lineHeight: calc(var(--fontSize) * 1.5);

  --gutter-y: var(--lineHeight);

  --zIndexOverlay: 100;
  --zIndexThing: calc(var(--zIndexOverlay) + 10);
}

stuff {
  dont: care;
  ignore: calc(new(blah));
  resolved: calc(var(--gutter-y) - 1rem) otherfn(blah);
  unresolved: calc(var(--gutter-y) - 1px);
  prefixed-unresolved: -webkit-calc(var(--gutter-y) - 1px);
  z-index: calc(var(--zIndexThing) + 1);
}

@media (min-width: calc(10px + 10px)) {
  .mediaQueriesShouldBeDisabledByDefault {}
}
