multiline {
    font-size: calc(
                       1rem
                       * 2
                       * 1.5
                   );
    width: calc(1px +
      10px
      + 100px );
    height: calc(
2em
    + 20em + 200em);
    padding: calc(30px
      + 3px ) calc(
2px *
2
+40 px
        );
}
